# Question 1

In [2]:

from module import*
b()
b()
b()
a
#WHEN THE FIRST b() STATEMENT WAS EXECUTED IT CALLS UPON FUNCTION b 
#now function b starts and at the endpart of function b , it calls to function c which runs by initially a=0 and add +2 to value of a
# therefore, a=2 and after running b for 3 times a becomes 6
# the last expression a then prints the value of a which is 6

6

In [ ]:
#

# Question 2

In [4]:
# I modified the given funtion Filelength to give desired output
def filelength(file):
    try:
        file = open(file)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("file",file,"not found")
filelength('module.py')
filelength('idterm.py')

119
file idterm.py not found

# Question 3

In [6]:
class  Marsupial:         #This is the marsupical funtion that i created.
    def __init__(self):
        'instantiates an empty list'
        self.q = [] 
    def put_in_pouch (self, item):
        return self.q.append(item)
    def pouch_contents (self):
        return self.q
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
#Now created a class named Kangaroo as a subclass of Marsupial that inherits all the
#attributes of Marsupial 

class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0,):
        'initialize coordinates to (xcoord, ycoord)'
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [12]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

In [14]:
##Floor division, it rounds the result down to the nearest integer

def collatz(n):
    if(n>0):
        print(n)
        while(n!=1):
            if n % 2==0:
                print(n // 2)                             
                n= n // 2
              
            elif n % 2==1:
                s = 3 * n + 1
                print(s)
                n=s
collatz(1)

1

In [15]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [16]:
def binary(x):
    
    if x >= 1:
        if x//2 !=0:             
            binary(x // 2)
        print(x % 2 , end = '')    #end= '' is used to print numbers in a row
    elif x==0:
        print(1)
    else:
        print("enter a positive integer")
binary(0)

1

In [17]:
binary(9)

1001

In [18]:
binary(5)

101

In [19]:
binary(3)

11

# Question 6

In [16]:
from html.parser import HTMLParser                      #Given standard library module
class  HeadingParser(HTMLParser):
    c=0
    s=0
    def handle_starttag(self,tag,attrs):
        if tag in ['h1','h2','h3']:
            self.c = 1
    def handle_data(self,data):
        if (self.c == 1):
            print(data.rjust(len(data) + self.s), end = '\n')
        def handle_endtag(self,tag):
            if tag in ['h1','h2','h3']:
                self.c = 0
                self.s 
                
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# Question 7

In [1]:
from bs4 import BeautifulSoup
import requests

urls=[]

def webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)';

    r = requests.get(site)
    s = BeautifulSoup(r.text,"html.parser")
    
    for i in s.find_all("a"):
        
        href = i.attrs['href']
        
        if href.startswitch("/"):
            site = site+href
            
            if site not in urls:
                urls.append(site)
                print(site)
                scrape(site)

SyntaxError: invalid syntax (Temp/ipykernel_20856/69945149.py, line 6)

# Question 8

In [21]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\hp\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prettytable<1 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [5]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [6]:
cur.execute('SELECT DISTINCT(City) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [7]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [8]:
cur.execute('SELECT * from cityInfo where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [9]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityInfo GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [10]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityInfo where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [11]:
cur.execute('SELECT SUM(Rainfall) FROM cityInfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [12]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityInfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']


lst = [x.upper() for x in words] 
print(lst)
lst1 = [x.lower() for x in words]
print(lst1)
lst2 =[len(word) for word in words]
print(lst2)
lst3 = [word for word in words if len(word) >=4]
print(lst3)
  

final=[]
for word in words:
    lst4 = []
    lst4.append(word.upper())
    lst4.append(word.lower())
    lst4.append(len(word))
    final.append(lst4)
    
print(final)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
['quick', 'brown', 'jumps', 'over', 'lazy']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]